$palette-1: #78beca;
$palette-2: #da74a5;
$palette-3: #7cd2a1;
$palette-4: #7781cd;

$widget-alpha: .2;
$widget-radius: .6em;
$widget-padding: .25em .3em;
$widget-nobox-padding: .25em .7em;
$widget-margin: 0 .2em;

$box-radius: .4em;
$box-padding: .1em .5em;

box, button {
  all: unset;
}

.mainbar {
  background-color: transparent;
  box-shadow: none;
  font-family: "FiraSans";
}

.widget {
  border-radius: $widget-radius;
  padding: $widget-padding;
  margin: $widget-margin;
}

.widget-nobox {
  border-radius: $widget-radius;
  padding: $widget-nobox-padding;
  margin: $widget-margin;
}

.box {
  padding: $box-padding;
  border-radius: $box-radius;
  margin: .10em;
  color: inherit;
}

.box-accent {
  background-color: inherit;
}

.workspaces {
  background-color: rgba($palette-1, $widget-alpha);
  color: $palette-1;
}





.resources {
  background-color: rgba($palette-2, $widget-alpha);
  color: $palette-2;
}

.res_label {
  padding-top: .2em;
  padding-right: .2em;
  min-width: 1.5em;
  font-size: 1.2em;
}

.res_metric {
  min-width: 2.5em;
}

.clock {
  background-color: rgba($palette-3, $widget-alpha);
  color: $palette-3;
}

.audio {
  background-color: rgba($palette-4, $widget-alpha);
  color: $palette-4;
}

.network {
  background-color: rgba($palette-1, $widget-alpha);
  color: $palette-1;
}

.battery {
  background-color: rgba($palette-3, $widget-alpha);
  color: $palette-3;
}

.audiobox {
  /* background-color: rgba($palette-2, $widget-alpha); */
  /* border-radius: $widget-radius; */
  /* padding: 5em; */
}

.media {
  background-color: rgba($palette-1, $widget-alpha);
  color: $palette-1;
}

.media_ctrls button {
  min-width: 1.2em;
}

.lyrics-button {
  min-width: 1.2em;
  padding-right: .5em;
}

.systray {
  background-color: rgba($palette-2, $widget-alpha);
  color: $palette-2;
}

.icon {
  min-width: 1em;
  padding-right: .3em;
}

.updates {
  background-color: rgba($palette-2, $widget-alpha);
  color: $palette-2;
}
