[Desktop Entry]
Name=MPV Handler
Comment=MPV Handler for mpv:// URLs
# Exec=sh -c 'URL="%U"; echo ss; mpv "${URL#mpv://#}"'
Exec=mpv %U
Terminal=false
Type=Application
MimeType=x-scheme-handler/mpv;
